[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "clukewatson.github.io"]
	path = clukewatson.github.io
	url = https://github.com/clukewatson/clukewatson.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/clukewatson/clukewatson.github.io.git
	branch = master
